/* About sectiosn specific banner */
.about-banner {
  height: 52vh;
  background: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)),
              url("https://s3.us-west-2.amazonaws.com/museum-of-the-rockies/Exhibitions/Siebel-Dinosur-Complex/_large/MOR_Siebel_Dinosaur_Hall©2020_06.JPG");
  background-position: center;
  background-size: cover;
  position: relative;
}
.about-banner .banner-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  width: 90%;
}
.about-banner .banner-text h1 {
  font-size: 3rem !important;
  margin-bottom: 10px;
  text-align: center;
}
.about-banner .banner-text p {
  font-size: 1.2rem !important;
  line-height: 1.4;
}

/* Transforming the about page (formatting & layout) */
.about-container {
  max-width: 900px;
  margin: 50px auto;
  padding: 0 20px;
  line-height: 1.6;
  text-align: left;
}
.about-container h2 {
  font-size: 2rem;
  margin-bottom: 10px;
  text-align: center;
}
.about-container p {
  margin-bottom: 20px;
  font-size: 1rem;
  text-align: center;
}

/* Navigational bar for about page */
.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: flex-end; 
  align-items: center;
  padding: 20px 6%;
  background: transparent; 
  z-index: 10;
}
.nav-links ul li a {
  color: #fff; 
  text-decoration: none;
  padding: 8px 12px;
  font-size: 14px;
}

/* Fixes certain things messed up due to different page setup */
nav .fa {
  display: none;
}

@media (max-width: 700px) {
  .about-banner {
    height: 50vh;
  }
  .about-banner .banner-text h1 {
    font-size: 1.8rem !important;
  }
  .about-banner .banner-text p {
    font-size: 1rem !important;
  }
  .about-container p {
    font-size: 0.95rem !important;
  }
  nav .fa {
    display: block;
    color: #fff;
    font-size: 22px;
    cursor: pointer;
  }
  .nav-links {
    position: absolute;
    right: -200px;
    top: 0;
    background: #f44336;
    height: 100vh;
    width: 200px;
    text-align: left;
    z-index: 20;
    transition: 0.5s;
  }
  .nav-links ul {
    padding: 30px;
  }
  .nav-links ul li {
    display: block;
    padding: 15px 0;
  }
}
