/* Base mobile layout for all pages */

@media (max-width: 700px) {
  html, body {
    overflow-x: hidden;
  }
  nav {
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
  }
  nav img {
    margin-bottom: 10px;
    width: 120px;
  }
  .nav-links {
    position: absolute;
    background: #f44336;
    height: 100vh;
    width: 200px;
    top: 0;
    right: -200px;
    text-align: left;
    z-index: 100;
    transition: right 0.5s ease;
  }
  .nav-links ul {
    padding: 30px;
  }
  .nav-links ul li {
    display: block;
    margin-bottom: 20px;
  }
  nav .fa {
    display: block;
    color: #fff;
    margin: 10px;
    font-size: 22px;
    cursor: pointer;
  }
  .fa-bars {
    position: absolute;
    top: 25px;
    right: 25px;
  }
  .text-box h1 {
    font-size: 24px;
  }
}
