.species-banner {
  height: 52vh;
  background: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)),
              url("https://s3.us-west-2.amazonaws.com/museum-of-the-rockies/Exhibitions/Siebel-Dinosur-Complex/_large/MOR_Siebel_Dinosaur_Hall©2020_06.JPG");
  background-position: center;
  background-size: cover;
  position: relative;
}
.species-banner .banner-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  width: 90%;
}
.species-banner .banner-text h1 {
  font-size: 3rem !important;
  margin-bottom: 10px;
  text-align: center;
}
.species-banner .banner-text p {
  font-size: 1.2rem !important;
  line-height: 1.4;
}

/* Page layout / formatting */
.species-container {
  max-width: 900px;
  margin: 50px auto;
  padding: 0 20px;
  line-height: 1.6;
}
.species-container h2 {
  font-size: 2rem;
  margin-bottom: 10px;
  text-align: center;
}
.species-container p {
  margin-bottom: 20px;
  text-align: center;
}

/* Slideshow stuff */
.mini-cards-section {
  width: 90%;
  margin: 50px auto;
}
.mini-cards-section h2 {
  margin-bottom: 20px;
  text-align: center;
  font-size: 2rem;
}
.mini-cards-container {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  padding-bottom: 10px;
  scroll-behavior: smooth;
}
.mini-cards-container::-webkit-scrollbar {
  height: 8px;
}
.mini-cards-container::-webkit-scrollbar-thumb {
  background-color: #f44336;
  border-radius: 4px;
}
.mini-card {
  flex: 0 0 calc((100% - 80px) / 5); /* 5 cards visible, 4 gaps of 20px */
  background: #fff;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  text-align: center;
  min-width: 0; /* prevents overflow issues */
}
.mini-card img {
  width: 100%;
  height: 120px;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 10px;
}
.mini-card h3 {
  font-size: 1.2rem;
  margin-bottom: 5px;
}
.mini-card p {
  font-size: 0.9rem;
  color: #555;
}

/* Navigational bar on Spieces page */
.navbar {
  position: absolute;*/
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px 6%;
  background: transparent; 
  z-index: 10;
}
.nav-links ul li a {
  color: #fff; 
  text-decoration: none;
  padding: 8px 12px;
  font-size: 14px;
}

/* Mobile code to fixing changes from global mobile */
@media (max-width: 700px) {
  .species-banner {
    height: 40vh;
  }
  .species-banner h1 {
    font-size: 1.8rem;
  }
  .species-banner p {
    font-size: 1rem;
  }
  .slide img {
    max-width: 90%;
    margin: 0 auto;
  }
  .species-container p {
    font-size: 0.95rem;
  }
}
